html,
body {
  height: 100%;
}

body {
  line-height: 200%;
  padding-bottom: 70px;
}

.navbar {
  background-color: #fff !important;
}

.py-sm-5 {
  padding-top: 3 rem !important;
  padding-bottom: 3 rem !important;
}

.bg-position-center {
  background-position: center !important;
}

.bg-size-cover {
  background-size: cover !important;
}

.hero {
  min-height: 60vh;
  background: #000 url('../images/bg-hero.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  bottom: 15px;
  color: #fff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

i {
  color: #fd6631 !important;
}

.submit-btn {
  background-color: #fd6631 !important;
  border: 1px solid #fd6631;
}

.submit-btn:hover {
  background-color: #fd6631 !important;
  border: 1px solid #fd6631;
}

.alert-row {
  margin-top: 80px;
  width: 100%;
}

.alert {
  text-align: center;
  background-color: #0077b9;
  color: #fff;
  font-size: 1.8em;
}

.product-container {
  width: 100%;
  height: auto;
  padding: 0 8em;
}

.badge {
  background-color: #ebebeb !important;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 25px;
}

.fa-check {
  color: #0aade4 !important;
}

.fine-print {
  color: #66757e;
}

.bottom-card {
  border: 2px solid #fd6631 !important;
  border-radius: 0;
  margin-bottom: 40px;
}

.oop {
  max-width: 100%;
}

.bottom-card-title {
  text-align: center;
  color: #fd6631;
  font-weight: 700;
}

.bottom-card-text {
  text-align: center;
  color: #000 !important;
}

.footer {
  background-color: #0077b9 !important;
}

.footer-text {
  color: #fff !important;
  text-align: center !important;
  font-weight: 400;
  font-size: 14px;
}
/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .dip {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    padding: 0 10em;
  }

  .pill-group {
    margin-top: 40px;
  }

  .oop {
    max-width: 100%;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 8em;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  #engine-text {
    font-size: 30px;
  }

  .list-text {
    font-size: 14px;
  }

  .hero {
    min-height: 70vh;
  }

  .form-div {
    margin-top: 0 !important;
  }

  .form-card {
    width: 20rem !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .alert-row {
    width: 95%;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 12em;
  }

  .pill-group {
    margin-top: 40px;
  }

  .oop {
    max-width: 100%;
  }
  .product-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .engine,
  .list {
    display: none;
  }

  .form-div {
    margin-top: 40px !important;
  }

  .form-card {
    width: 100% !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .pill-group {
    margin-top: 40px;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 10em;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  .engine,
  .list {
    display: none;
  }

  .form-div {
    margin-top: 40px !important;
  }

  .form-card {
    width: 100% !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .pill-group {
    margin-top: 40px;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 5em;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  .engine,
  .list {
    display: none;
  }

  .form-div {
    margin-top: 40px !important;
  }

  .form-card {
    width: 100% !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .pill-group {
    margin-top: 40px;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 3em;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  .engine,
  .list {
    display: none;
  }

  .form-div {
    margin-top: 40px !important;
  }

  .form-card {
    width: 100% !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .pill-group {
    margin-top: 40px;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 1em;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  .engine,
  .list {
    display: none;
  }

  .form-div {
    margin-top: 40px !important;
  }

  .form-card {
    width: 100% !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .pill-group {
    margin-top: 40px;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 1em;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  .engine,
  .list {
    display: none;
  }

  .form-div {
    margin-top: 40px !important;
  }

  .form-card {
    width: 100% !important;
  }

  .alert-container {
    display: flex;
    justify-content: center;
  }

  .alert-row {
    width: 95%;
  }

  .pill-group {
    margin-top: 40px;
  }

  .product-container {
    width: 100%;
    height: auto;
    padding: 0 1em;
  }
}
